/* Acest css gestioneaza doar continutul aferent div-ului books */

/* general */
#books{
  width: 960px;
  height: 700px;
  /* centrare */
  margin-left: auto !important;
  margin-right: auto !important;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* top */
#books #top-info {
  width: 100%;
  height: 10%;
  position: relative;
  float: left;
}

#books #top-info #title{
  width: 50%;
  height: 100%;
  float: left;
  position: absolute;
}

#books #top-info #title p{
  height: 50%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #e67e22;
  font-size: 150%;
  text-align: left;
  margin-left: 0;
}

#books #top-info #display-type{
  width: 50%;
  height: 100%;
  float: right;
  position: relative;
}

#books #top-info #display-type #empty{
  width: 80%;
  height: 100%;
  float: left;
  position: relative;
}

#books #top-info #display-type #list{
  width: 10%;
  height: 100%;
  float: left;
  position: relative;
}

#books #top-info #display-type #square{
  width: 10%;
  height: 100%;
  float: left;
  position: relative;
}

#books #top-info #display-type #list img{
  width: 75%;
  height: 38%;
  float: left;
  position: absolute;
  right: 10%;
  top: 33%;
  cursor: pointer;
}

#books #top-info #display-type #square img{
  width: 70%;
  height: 35%;
  float: left;
  position: absolute;
  right: 0;
  top: 35%;
  cursor: pointer;
}

/* search */
#books #search-filter {
  width: 25%;
  height: 90%;
  float: left;
  position: relative;
}

#search-filter form {
  /* Just to center the form on the page */
  margin: 0;
  width: 85%;

  /* centrare */
  margin-left: auto !important;
  margin-right: auto !important;
  /* form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  }

#search-filter form div + div {
  margin-top: 1em;
  }

#search-filter form fieldset div label {
  display: inline-block;
  width: 100%;
  text-align: right;
  }

#search-filter form fieldset div input {
  font: 1em sans-serif;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #999;
  }

#search-filter form fieldset div input:focus{
  border-color: #000;
  }

#search-filter form fieldset div .button {
  padding-left: 90px;
  }

#search-filter form fieldset div button {
  margin-left: .5em;
}


/* results */
#books #display-results{
  width: 75%;
  height: 90%;
  float: left;
  position: relative;
}

/* orientation: portrait */
@media only screen and (max-width:550px) {
  #books{
    width: 300px;
    height: 500px;
  }
}

/* mobile devices */
@media only screen and (min-width:550px) and (max-width:600px) {
  #books{
    width: 450px;
    height: 500px;
  }
}

/* tablet portrait */
@media only screen and (min-width:768px) and (max-width:959px) {
  #books{
    width: 350px;
    height: 500px;
  }
}

/* orientation: landscape */

/* tablet */
@media only screen and (max-width:960px) and (min-width:640px){
  #books{
    width: 700px;
    height: 700px;
  }
}

/* mobile devices */
@media only screen and (max-width:500px) and (min-width:300px) {
  #books{
    width: 250px;
    height: 400px;
  }
}
