/* Acest css gestioneaza doar continutul aferent #main-footer-ului */

#main-footer {
  padding-top: 50px;
  height: auto;
  width: 100%;
  background-color: rgb(250, 250, 250);
  color: rgb(180, 180, 180);
  border-top: 1px solid rgb(220, 220, 220);
}

#main-footer > div {
    max-width: 960px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

 #main-footer .logo {
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  flex-basis: 25%;
  margin-top: 50px;
}

#main-footer  h2 {
  font-weight: 900;
  font-size: 3.5em;
  padding: 20px 0 0 0;
  margin: 0;
  transition: all ease-in-out .5s;
}

#main-footer h2:hover {
  color: rgb(80, 80, 80);
}

#main-footer p {
  font-weight: 300;
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-style: italic;
}

#main-footer #footer-list {
  flex-basis: 75%;
  display: flex;
  flex-flow: row wrap;
}

#main-footer #footer-list ul {
  list-style: none;
  cursor: pointer;
  margin-right: 5%;
}

#main-footer #footer-list ul li:first-child {
  font-family: 'Lato', sans-serif;
  font-size: 1.7em;
  font-weight: 900;
  color: rgb(50, 50, 50);
}

#main-footer #footer-list ul li:first-child::after {
  content: ' ';
  display: block;
  border-bottom: 1px solid rgb(50, 50, 50);
  width: 25px;
  margin: 10px 0 30px 0;
  transition: all ease-in-out .3s;
}

#main-footer #footer-list ul:hover li:first-child::after {
  width: 100%;
}

#main-footer #footer-list ul li:not(:first-child) {
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  padding: 7px 0;
  transition: .2s;
}

#main-footer #footer-list ul li:not(:first-child):hover {
  color: rgb(50, 50, 50);
}

#main-footer #footer-copy {
  flex-basis: 100%;
  font-style: normal;
  margin: 20px 0 0 0;
  padding: 15px 0 15px 0;
  font-family: 'Lato', sans-serif;
  font-size: .9em;
  font-weight: 300;
  text-transform: uppercase;
  border-top: 1px solid rgb(220, 220, 220);
}

/*--------------------------------------------------------------
Media Queries
--------------------------------------------------------------*/

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 650px) and (max-width: 959px) {
  #main-footer .logo {
    flex-basis: 100%;
    margin: 0;
    text-align: center;
}

#main-footer #footer-list {
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
}

#main-footer #footer-list ul {
    flex: 1 1 33%;
    text-align: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#main-footer #footer-list ul li:first-child::after {
    content: ' ';
    display: block;
    border-bottom: 1px solid rgb(50, 50, 50);
    width: 20%;
    margin: 10px 0 30px 40%;
    transition: all ease-in-out .3s;
}

#main-footer #footer-list ul:hover li:first-child::after {
    width: 100%;
    margin: 10px 0 30px 0;
}

#main-footer #footer-copy {
  text-align: center;
}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 649px) {
  #main-footer .logo {
    flex-basis: 100%;
    margin: 0;
    margin-top: -20px;
    text-align: center;
}

#main-footer #footer-list {
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
}

#main-footer #footer-list ul {
    flex: 1 1 33%;
    text-align: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#main-footer #footer-list ul li:first-child {
    font-size: 1em;
}

#main-footer #footer-list ul li:not(:first-child) {
    font-weight: 400;
    font-size: .8em;
}

#main-footer #footer-list ul li:first-child::after {
    content: ' ';
    display: block;
    border-bottom: 1px solid rgb(50, 50, 50);
    width: 20%;
    margin: 10px 0 10px 40%;
    transition: all ease-in-out .3s;
}

#main-footer #footer-list ul:hover li:first-child::after {
    width: 100%;
    margin: 10px 0 30px 0;
}

#main-footer #footer-copy {
  text-align: center;
}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  #main-footer .logo {
    flex-basis: 100%;
    margin: -30px 0 -30px 0;
    text-align: center;
}

#main-footer #footer-list {
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
}

#main-footer #footer-list ul {
    flex: 1 1 100%;
    text-align: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#main-footer #footer-list ul li:first-child {
  padding-top: 20px;
}

#main-footer #footer-list ul li:first-child::after {
    content: ' ';
    display: block;
    border-bottom: 1px solid rgb(50, 50, 50);
    width: 70%;
    margin: 10px 0 10px 15%;
    transition: all ease-in-out .3s;
}

#main-footer #footer-list ul:hover li:first-child::after {
  width: 70%;
  margin: 10px 0 10px 15%;
}

#main-footer #footer-copy {
  text-align: center;
}
}
