/* Acest css gestioneaza doar continutul aferent div-ului menu */

#menu{
    position: fixed;
    left: -186px;
    top: 250px;
    z-index: 10;
}

.menu-option{
  width: 250px;
  position: relative;
  display: block;
  height: 56px;
  cursor: pointer;
  transition: ease all 0.3s;
}

.menu-option:hover {
    margin-left: 105px;
}

.selected-menu-option {
    margin-left: 105px;
}

.menu-option > .fa {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 32px;
}


#option-home{
  background-color: rgb(255, 204, 0);
}

#option-books{
  background-color: rgb(255, 153, 51);
}

#option-articles{
  background-color: rgb(230, 0, 115);
}

#option-videos{
  background-color: rgb(179, 0, 89);
}

#option-presentations{
  background-color: rgb(134, 45, 89);
}

.menu-option p {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: rgb(238, 238, 238);
    margin-top: 0;
    position: absolute;
    top: 50%;
    right: 65px;
    transform: translateY(-50%);
}

.menu-option img {
  height: 51%;
  width: 30%;
  bottom: 10%;
  position: absolute;
  left: 35%;
  bottom: 7%;
  color: white;
}

/* orientation: portrait */
/* mobile devices */
@media only screen and (max-width: 960px) {
    #menu {
        left: 0;
        top: 0;
        width: 100%;
    }

    .menu-option {
        display: inline-block;
        float: left;
        width: 20%;
    }

    .menu-option > .fa {
        right: initial;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu-option > p {
        visibility: hidden;
        font-size: 14px;
        top: initial;
        width: 100%;
        text-align: center;
        bottom: -18px;
        left: 0;
    }

    .menu-option:hover {
        margin-left: 0;
        height: 70px;
    }

    .selected-menu-option {
        margin-left: 0px;
        height: 70px;
    }

    .selected-menu-option > p, .menu-option:hover > p {
        top: initial;
        visibility: visible;
        font-size: 14px;
        top: initial;
        width: 100%;
        text-align: center;
        visibility: visible;
        bottom: -18px;
        left: 0;
    }

    .selected-menu-option > .fa, .menu-option:hover > .fa {
        top: 26px;
    }
}
