/* Acest css gestioneaza doar continutul aferent div-ului selector */

#menu{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 960px;
  height: 100px;
  /* centrare */
  margin-left: auto !important;
  margin-right: auto !important;
  position: relative;
  cursor: pointer;
}

.menu-option{
  width: 20%;
  height: 100%;
  position: relative;
  float: left;
}

.menu-option:hover {
  box-shadow: 0 5px 0 0 white inset;
}

.selected-menu-option {
  box-shadow: 0 5px 0 0 white inset;
}


#option-home{
  background-color: rgb(255, 204, 0);
}

#option-books{
  background-color: rgb(255, 153, 51);
}

#option-articles{
  background-color: rgb(230, 0, 115);
}

#option-videos{
  background-color: rgb(179, 0, 89);
}

#option-presentations{
  background-color: rgb(134, 45, 89);
}

.menu-option p {
  font-size: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
	font-weight: 700;
  color: rgb(238, 238, 238);
}

.menu-option img {
  height: 51%;
  width: 30%;
  bottom: 10%;
  position: absolute;
  left: 35%;
  bottom: 7%;
  color: white;
}
}

/* orientation: portrait */
@media only screen and (max-width:550px) {
  #menu {
    width: 300px;
    height: 50px;
  }

  .menu-option img {
    height: 40%;
    width: 30%;
    left: 35%;
    bottom: 10%;
  }

  .menu-option p {
    display: none;
  }
}

/* mobile devices */
@media only screen and (min-width:550px) and (max-width:600px) {
  #menu {
    width: 450px;
    height: 50px;
  }

  .menu-option img {
    height: 40%;
    width: 30%;
    left: 35%;
    bottom: 10%;
  }

  .menu-option p {
    display: none;
  }
}

/* tablet portrait */
@media only screen and (min-width:768px) and (max-width:959px) {
  #menu {
    width: 350px;
    height: 80px;
  }
}

/* orientation: landscape */

/* tablet */
@media only screen and (max-width:960px) and (min-width:640px){
  #menu {
    width: 700px;
    height: 100px;
  }
}

/* mobile devices */
@media only screen and (max-width:500px) and (min-width:300px) {
  #menu {
    width: 250px;
    height: 50px;
  }

  .menu-option img {
    height: 40%;
    width: 30%;
    left: 35%;
    bottom: 10%;
  }

  .menu-option p {
    display: none;
  }
}
