/* Acest css gestioneaza doar continutul aferent div-ului slider */

#slider {
    /* centrare */
    margin-left: auto !important;
    margin-right: auto !important;

	overflow: hidden;
    width: 100%;
    height: 700px;
    position: relative;
    z-index: -1;
}

#slider .slide {
  width: 20%;
  height: 100%;
  position: relative;
  border: white;
  display: inline-block;
  background-size: cover !important;
}

#slider figure {
  position: relative;
  width: 500%;
  height: 100%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 60s slideshow infinite;
}

@keyframes slideshow {
  0% { left: 0%; }
  10% {left: 0%; }
  15% { left: -100%; }
  20% { left: -100%; }
  25% { left: -200%; }
  30% { left: -200%; }
  35% { left: -300%; }
  40% { left: -300%; }
  45% { left: -400%; }
  50% { left: -400%; }
  55% { left: -400%; }
  60% { left: -300%; }
  65% { left: -300%; }
  70% { left: -200%; }
  75% { left: -200%; }
  80% { left: -100%; }
  85% { left: -100%; }
  90% { left: -0%; }
  100% { left: 0%; }
}

/* For arrows */
#display-left{
  position: absolute;
  color: black;
  opacity: 0.8;
  border: 2px solid;
  bottom: 2%;
  right: 6%;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
}
/* For arrows */
#display-right{
  position: absolute;
  color: black;
  border: 2px solid;
  opacity: 0.8;
  bottom: 2%;
  right: 1%;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
}

#display-left:hover, #display-right:hover {
  color: white;
  background-color: rgba(0,0,0,0.8);
}

/* orientation: portrait */
@media only screen and (max-width:580px) {
  #slider {
      height: 200px;
  }
}

/* mobile devices */
@media only screen and (min-width:550px) and (max-width:600px) {
  #slider {
    height: 250px;
  }
}

/* tablet portrait */
@media only screen and (min-width:768px) and (max-width:959px) {
  #slider {
       height: 350px;
  }
}

/* orientation: landscape */

/* tablet */
@media only screen and (max-width:960px) and (min-width:640px){
  #slider {
       height: 350px;
  }
}

@media only screen and (max-width:1280px) and (min-width:800px){
  #slider {
       height: 450px;
  }
}

/* mobile devices */
@media only screen and (max-width:570px) and (min-width:300px) {
  #slider {
       height: 300px;
  }
}
