/* Acest css gestioneaza doar continutul aferent div-ului slider */

#slider {
  margin-top: 10px;
  margin-bottom: 10px;
  /* centrare */
  margin-left: auto !important;
  margin-right: auto !important;

	overflow: hidden;
  width: 960px;
  height: 350px;
  position: relative;
/*  animation: 20s slideshow inifinite;*/
}

#slider img {
  width: 20%;
  height: 100%;
  position: relative;
  border: white;
  border-radius: 10px;
}

#slider figure {
  position: relative;
  width: 500%;
  height: 100%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 40s slideshow infinite;
}

@keyframes slideshow {
  0% { left: 0%; }
  10% { left: 0%; }
  20% { left: -100%; }
  30% { left: -100%; }
  40% { left: -200%; }
  50% { left: -200%; }
  60% { left: -300%; }
  70% { left: -300%; }
  80% { left: -400%; }
  90% { left: -400%; }
  100% { left: 0%; }
}

#display-left{
  position: absolute;
  color: black;
  opacity: 0.8;
  border: 2px solid;
  bottom: 2%;
  right: 6%;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
}

#display-right{
  position: absolute;
  color: black;
  border: 2px solid;
  opacity: 0.8;
  bottom: 2%;
  right: 1%;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
}

#display-left:hover, #display-right:hover {
  color: white;
  background-color: rgba(0,0,0,0.8);
}
