/* Acest css gestioneaza doar continutul aferent div-ului topics */

#topics {
	width: 65%;
	margin: 0 auto;
}

#topics-tag-row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-bottom: 30px;
}

#topics-tag-row .tag {
	cursor: pointer;
	flex: 1 1 50%;
	padding: 55px 0;
	border: 5px solid transparent;
	transition: all ease-in-out 0.3s;
}

#topics-tag-row .tag:hover {
	flex: 1 1 70%;
	border: 5px solid rgba(0, 0, 0, 0.3);
}

#topics-tag-row .tag:nth-child(1) { background-color: #30a8cb; }
#topics-tag-row .tag:nth-child(2) { background-color: #5f7db9; }
#topics-tag-row .tag:nth-child(3) { background-color: #9650a8; }
#topics-tag-row .tag:nth-child(4) { background-color: #854196; }
#topics-tag-row .tag:nth-child(5) { background-color: #a92267; }
#topics-tag-row .tag:nth-child(6) { background-color: #bf2273; }
#topics-tag-row .tag:nth-child(7) { background-color: #e21e8e; }

#topics-tag-row .tag p {
	user-select: none;
	margin: 0;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 150%;
	color: rgb(238, 238, 238);
}

#topics-tag-row .tag p:after {
	display:block;
	content: '';
	height: 10px;
	border-bottom: solid 1px rgb(238, 238, 238);
	transform: scaleX(0);
	transition: transform .25s ease-in-out;
}

#topics-tag-row .tag:hover p:after {
	transform: scaleX(.5);
}

#topics-grid-title {
	margin-bottom: 1.2em;
	display: inline-flex;
	width: 100%;
}

#topics-grid-title h2 {
	flex-basis: 100%;
	font-size: 1.5em;
	margin: 20px 0;
}

#topics-grid-title button {
	height: 40px;
	margin-top: 12px;
	min-width: 100px;
	background-color: #854196;
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: .8em;
	font-weight: 400;
	color: white;
	text-transform: uppercase;
	box-shadow: 0 5px 0 #7b3a8a;
	transition: all ease 0.3s;
}

#topics-grid-title button:active,
#topics-grid-title button:focus {
	outline: 0;
}

#topics-grid-title button:hover {
	cursor: pointer;
	background-color: #5e286a;
	box-shadow: 0 5px 0 #511e5c;
}

#topics-grid > #topics-grid-container {
	display: flex;
	flex-wrap: wrap;
}

#topics-grid #topics-grid-container .col {
	cursor: pointer;
	margin-left: 5%;
	margin-bottom: 1rem;
	flex-grow: 1;
	width: 30%;
	height: 300px;
	overflow: hidden;
}

#topics-grid #topics-grid-container .col ul {
	margin: 0;
}

#topics-grid #topics-grid-container .col:hover img {
	opacity: 0.8;
}

#topics-grid #topics-grid-container .col:nth-child(3n+1) {
	margin-left: 0;
}

#topics-grid .col img {
	opacity: 1;
	width: 100%;
	height: 200px;
	top: 0;
	left: 0;
	object-fit: cover;
	transition: all ease 0.5s;
}

/* Clock CSS ICON */

.clock-h9m0.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 2px;
  width: 15px;
  height: 15px;
  border: solid 1px currentColor;
  border-radius: 8px;
}

.clock-h9m0.icon:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 3px;
  width: 5px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.clock-h9m0.icon:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 7px;
  width: 1px;
  height: 6px;
  background-color: currentColor;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

/* Person CSS Icon */

.profile.icon {
  color: #000;
  position: absolute;
  margin-left: 3px;
  margin-top: 11px;
  width: 14px;
  height: 6px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px transparent;
  border-radius: 6px 6px 0 0;
}

.profile.icon:before {
  content: '';
  position: absolute;
  left: 2px;
  top: -10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 1px currentColor;
}

/* Tag CSS Icon */

.tag.icon {
  color: #000;
  position: absolute;
  margin-left: 4px;
  margin-top: 3px;
  width: 7px;
  height: 7px;
  border-radius: 1px 1px 1px 0;
  border-left: solid 1px currentColor;
  border-top: solid 1px currentColor;
}

.tag.icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  width: 9px;
  height: 10px;
  border-radius: 1px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.tag.icon:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: currentColor;
}

#topics-grid .col p, #topics-grid-title h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 1.5em;
	text-transform: uppercase;
}

#topics-grid .col p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	margin: 10px 0;
}

#topics-grid .col ul {
	list-style-type: none;
	display: inline-block;
	padding: 0;
}

#topics-grid .col li {
	float: left;
	padding-right: 15px;
	font-family: 'Lato', sans-serif;
	font-size: .55em;
	font-weight: 300;
	text-transform: uppercase;
}

#topics-grid .col ul li p {
	margin-left: 25px;
	margin-top: 4px;
}
