.video123{

    height: 50%;
    width: 100%;
}
.video456{
    height: 50%;
    width: 100%;
}
#video1{
    width: 33%;
}
#video2{
    left: 33%;
    width: 34%;
}
#video3{
    right: 0;
    width: 33%;
}
#video4{
    width: 33%;
}
#video5{
    left: 33%;
    width: 34%;
}
#video6{
    right: 0;
    width: 33%;
}
pvideo{
    word-break: keep-all;
    width: 250px; 
}
.video{
    float: left;
}
#videos{
    width: 960px;
    transform: translatex(44%);
    background-color: lightgray;
}
.h3video{
    text-align: center;
}
#videos:after {
	content: "";
	clear: both;
	display: table;
}
.videogif{
    display: block;
    margin-left: auto;
    margin-right: auto;
}